<div class="container-fluid container-fluid-custom py-md-5 mb-5">
    <main>
        <div class="row py-md-5 text-center justify-content-center">

            <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
                <h1 class="display-2 fw-bold mb-4 position-relative home-title">
                    Write down what you have on your mind
                </h1>
                <p class="fs-4 mb-4">
                    sta<span style="color:red">R</span><span style="color:black">notes</span> is a simple free note
                    taking app built with Node.js, express & sqlite3.
                </p>
                <a href="/notes" class="btn btn-primary btn-lg">Read sta<span style="color:red">R</span><span
                        style="color:black">notes</span>, today!</a>
            </div>

        </div>
    </main>
</div>